@media only screen and (max-width:1275px) {
    .Top-bar .top-logo{
        padding-left: 1rem;
    }
    .Top-bar .top-buttons ul{
        padding-right: 1rem;
    }
    .top-images .top-images-data{
        flex-direction: column;
    }
    .top-images .top-images-data .image-1, .top-images .top-images-data .image-2{
        width: 100%;
        margin: 0;
    } 
}

@media only screen and (max-width:1182px) {
    .Top-bar .top-buttons{
        display: none;
    }
    .Top-bar .top-list{
        display: none;
        transform: translate(-13rem,0rem);
        flex-direction: row;
        width: 150%;
        background-color: white;
    }
    .Top-bar .top-list ul{
        flex-direction: column;
    }
    .menu1{
        display: flex;
        position: fixed;
        top: 2.5rem;
        right: 0rem;
       z-index: 1;
    }
    .Top-bar  #closetopbar{
        display: inline;
        position: fixed;
        top: 1rem;
        right: -3rem;
    }
    .Top-bar .top-list .top-list-data ul .bachelor-tooltip .bachelor-tooltip-data{
        flex-direction: column;
        height: 85vh;
        width: 100%;
         width: 100%;overflow-y: auto;
        transform: translate(12rem,-4.4rem);
        z-index: 999 !important;
        padding-top: 0;
        padding-bottom:1rem ;
        background-color: white;
        &::-webkit-scrollbar{
        width: .8rem;
        }
        &::-webkit-scrollbar-thumb{
        background-color: gray;
        border-radius: 1rem;
        &:hover{
            background-color: black;
         }
        }
    }
    .Top-bar .top-list .top-list-data ul .master-tooltip .master-tooltip-data{
        flex-direction: column;
        height: 85vh;
        width: 100%;
         width: 100%;overflow-y: auto;
        transform: translate(12rem,-9.8rem);
        z-index: 5;
        padding-top: 0;
        padding-bottom:1rem ;
        &::-webkit-scrollbar{
        width: .8rem;
        }
        &::-webkit-scrollbar-thumb{
        background-color: gray;
        border-radius: 1rem;
        &:hover{
            background-color: black;
         }
        }
    }
    .Top-bar .top-list .top-list-data ul .mba-tooltip .mba-tooltip-data{
        flex-direction: column;
        height: 85vh;
        width: 100%;
         width: 100%;overflow-y: auto;
        transform: translate(11rem,-15rem);
        z-index: 5;
        padding-top: 0;
        padding-bottom:1rem ;
        &::-webkit-scrollbar{
        width: .8rem;
        }
        &::-webkit-scrollbar-thumb{
        background-color: gray;
        border-radius: 1rem;
        &:hover{
            background-color: black;
         }
        }
    }
    .Top-bar .top-list .top-list-data ul .about-tooltip .about-tooltip-data{
        flex-direction: column;
        height: 85vh;
        width: 100%;
         width: 100%;overflow-y: auto;
        transform: translate(12rem,-20.4rem);
        z-index: 5;
        padding-top: 0;
        padding-bottom:1rem ;
        &::-webkit-scrollbar{
        width: .8rem;
        }
        &::-webkit-scrollbar-thumb{
        background-color: gray;
        border-radius: 1rem;
        &:hover{
            background-color: black;
         }
        }
    }
    .Top-bar .top-list .top-list-data ul .oncampus-tooltip .oncampus-tooltip-data{
        flex-direction: column;
        height: 60vh;
        width: 100%;
        width: 100%;overflow-y: auto;
        transform: translate(12rem,-25.7rem);
        z-index: 5;
        padding-top: 0;
        padding-bottom:1rem ;
        &::-webkit-scrollbar{
        width: .8rem;
        }
        &::-webkit-scrollbar-thumb{
        background-color: gray;
        border-radius: 1rem;
        &:hover{
            background-color: black;
         }
        }
    }
}

@media only screen and (max-width:1050px) {
    .body-part2 .body-part2-container{
        flex-direction: column;
        row-gap: 1rem;
    }
}
@media only screen and (max-width:1025px) {
    .body-part1 .body-part1-container{
        flex-direction: column;
        align-items: center;
    }
    .body-part1 .body-part1-container .left-side{
        border: none;
    }
    .body-part1 .body-part1-container .right-side button{
        margin:1rem;
    }
    .body-part1 .body-part1-container, .body-part2 .body-part2-container,
    .body-part5 .body-part5-container .tab .data .upper,
    .body-part5 .body-part5-container .tab .data .lower{
        flex-direction: column;
        width: 100%;
    }
    //  html other pages media queries  //
    .Data-top,
    .business-top,
    .health-top,
    .psy-top{
        flex-direction: column;
    }
    .Data-top .left-side,
    .business-top .business-left-side,
    .health-top .health-left-side,
    .psy-top .psy-left-side{
        width: 100%;
        align-items: center;
        margin: 0;
        padding-bottom: 2rem;
    }
    .Data-top .left-side .top-heading h1,
    .business-top .business-left-side .business-top-heading h1,
    .health-top .health-left-side .health-top-heading h1,
    .psy-top .psy-left-side .psy-top-heading h1{
        margin-top: 5rem;
    }
    .Data-para1 p,
    .health-para1 p,
    .psy-para1 p{
        padding: 2rem 5rem;
    }
    .Data-flex1 .Data-flex1-container,
    .business-flex1 .business-flex1-container,
    .health-flex1 .health-flex1-container,
    .psy-flex1 .psy-flex1-container{
       flex-direction: column;
       column-gap: 5rem;
       margin: 1rem 5rem;
       border-bottom: .1rem solid gray;
    }
    .Data-flex1 .Data-flex1-container .Data-flex1-left,
    .business-flex1 .business-flex1-container .business-flex1-left,
    .health-flex1 .health-flex1-container .health-flex1-left,
    .psy-flex1 .psy-flex1-container .psy-flex1-left{
       width: 100%;
    }
    .Data-flex1 .Data-flex1-container .Data-flex1-left img,
    .business-flex1 .business-flex1-container .business-flex1-left img,
    .health-flex1 .health-flex1-container .health-flex1-left img,
    .psy-flex1 .psy-flex1-container .psy-flex1-left img{
       padding: 0rem;
    }
    .Data-flex1 .Data-flex1-container .Data-flex1-right,
    .business-flex1 .business-flex1-container .business-flex1-right,
    .health-flex1 .health-flex1-container .health-flex1-right,
    .psy-flex1 .psy-flex1-container .psy-flex1-right{
       width: 100%;
}
}
@media only screen and (max-width:950px) {
    .body-part6 .body-part6-container .body-part6-flex1,
    .body-part6 .body-part6-container .body-part6-flex2,
    .body-part6 .body-part6-container .body-part6-flex3,
    .body-part7 .body-part7-container .body-part7-form form .form-row1,
    .body-part8 .body-part8-container .body-part8-cards,
    .body-part9 .body-part9-container .body-part9-flex1,
    .body-part10 .body-part10-container .body-part10-flex1,
    .body-part12 .body-part12-container .body-part12-flex1,
    .body-part13 .body-part13-container .body-part13-cards,
    .body-part14 .body-part14-container .body-part14-flex{
        flex-direction: column;
        margin: 0;
    }
    .body-part11 .body-part11-container .body-part11-flex1{
      flex-wrap: wrap-reverse;
      gap: 0;
    }
    .body-part12 .body-part12-container .body-part12-flex1{
        gap: 0;
    }
    .body-part11 .body-part11-container .body-part11-flex1 .body-part11-flex1-right h1,
    .body-part12 .body-part12-container .body-part12-flex1 .body-part12-flex1-right h1{
        margin-top: 1rem;
    }
    .body-part7 .body-part7-container .body-part7-form form .form-button{
        text-align: center;
    }
    .body-part6 .body-part6-container .body-part6-flex2 .body-part6-flex2-left,
    .body-part7 .body-part7-container .body-part7-form form .form-row1 .row1-col1,
    .body-part8 .body-part8-container .body-part8-cards .body-part8-card1,
    .body-part9 .body-part9-container .body-part9-flex1 .body-part9-flex1-left,
    .body-part10 .body-part10-container .body-part10-flex1 .body-part10-flex1-left,
    .body-part11 .body-part11-container .body-part11-flex1 .body-part11-flex1-left,
    .body-part12 .body-part12-container .body-part12-flex1 .body-part12-flex1-left,
    .body-part13 .body-part13-container .body-part13-cards .body-part13-card1{
        width: 100%;
    }
    .body-part14 .body-part14-container .body-part14-flex .body-part14-flex-left{
        width: 60%;
        margin: auto;
    }
    .body-part14 .body-part14-container .body-part14-flex .body-part14-flex-right{
        width: 100%;
    
    }
    .body-part14 .body-part14-container .body-part14-flex .body-part14-flex-right .body-part14-heading1 h1{
        margin-top: 1rem;
    }
    .body-part6 .body-part6-container .body-part6-flex2 .body-part6-flex2-right p{
      padding: 1rem;  
    }
}
@media only screen and (max-width:825px) {
    // .top-bar-data{
    //     flex-direction: column;
    //     align-items: center;
    // }
    .Top-bar .top-list{
        margin-top: 0;
    }
}
@media only screen and (max-width:675px) {
    // .menu1{
    //     display: flex;
    //     transform: translateY(-11rem);
    // }
    // .Top-bar .top-list ul{
    //     gap: .5rem;
    // }
    // .Top-bar .top-list .top-list-data ul .item1 span a,
    // .Top-bar .top-list .top-list-data ul .item1{
    //     font-size: 1.2rem;
    // }
    // .Top-bar .top-logo .logo-h1 h1{
    //     font-size: 4.4rem !important;
    // }
    // .Top-bar .top-logo .logo-p p{
    //     font-size: 1rem;
    //     line-height: 1;
    //     font-weight: 500;
    //     margin-top: 2rem;
    // }
}
@media only screen and (max-width:580px) {
    // .menu1{
    //     display: flex;
    //     transform: translateY(-9.5rem);
    // }
    // .Top-bar .top-list .top-list-data ul .item1{
    //     font-size: 1rem;
    //     padding: .5rem 1rem ;
    // }
    .footer-container{
        margin: 0 2rem;
    }
    .footer .footer-upper-part{
        flex-direction: column;
    }
    .footer .footer-lower-part{
        flex-direction: column;
        row-gap: 1rem;
    }
}
@media only screen and (max-width:500px) {
    .footer-container{
        margin: 0rem;
    }
    .body-part14 .body-part14-container{
        margin: 0rem;
    }
    .body-part13 .body-part13-container,
    .body-part12 .body-part12-container,
    .body-part11 .body-part11-container,
    .body-part10 .body-part10-container{
        margin: 2rem;
    }
    .body-part9 .body-part9-container,
    .body-part8 .body-part8-container,
    .body-part7 .body-part7-container,
    .body-part6 .body-part6-container,
    .body-part5 .body-part5-container{
        margin: 0 2rem;
    }
    .body-part2 .body-part2-container{
        padding: 2rem 2rem;
    }
    .body-part1{
        padding: 4rem;
    }
    .body-part1 .body-part1-container{
        padding: 2rem 2rem;
    }
    .body-part8 .body-part8-container .body-part8-cards .body-part8-card1 .body-part8-para p{
        padding: 2rem 2rem;
        padding-bottom: 0;
    }
    .body-part8 .body-part8-container .body-part8-cards .body-part8-card-footer{

    }
    // for html extra pages queries //
    .Data-para1 p,
    .health-para1 p,
    .psy-para1 p{
       padding: 2rem 2rem;
    }
    .Data-box1 .Data-box1-container{
        margin: 0 2rem;
        padding: 1rem 0;
    }
    .Data-box1 .Data-box1-container .Data-box1-container-h1 h1,
    .Data-box1 .Data-box1-container .Data-box1-container-p1 p{
        padding: 0 2rem;
    }
    .Data-box2{
        padding: 1rem 2rem;
    }
    .Data-flex1 .Data-flex1-container,
    .business-flex1 .business-flex1-container,
    .health-flex1 .health-flex1-container,
    .psy-flex1 .psy-flex1-container{
       column-gap: 5rem;
       margin: 1rem 2rem;
    }
}
@media only screen and (max-width:420px) {
    .body-part14 .body-part14-container .body-part14-flex .body-part14-flex-left{
        width: 100%;
        margin: auto;
    }
    
}