@mixin important-text () {
    color: red;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid blue;
  }
  // mixin for background colors, border radius,//
@mixin font (){
  background-color: white;
}
  //  mixin for border //
@mixin bordered($color, $width) {
  border: $width solid $color;
}

// mixin for border radius//
@mixin border-radius(){
   border-radius: 2rem;
}
// simple mixin with no parameter/varible//
@mixin for-cards (){
  background-color: lightblue;
  border-radius: 2rem ;
}
// mixins having varibales/parametere//
  // e.g Mixin for buttons //
  @mixin button ($padding,$border-radius,$font-size,$bg,$color){
    padding:$padding;
    border-radius: $border-radius;
    font-size: $font-size;
    background-color: $bg;
    color: $color;
    border: none;
    &:hover{
      opacity: .7;
    }
  }
  // box shadow mixin//
  @mixin boxshadow($top, $left, $blur, $color){
    box-shadow: $top $left $blur $color ;    // box-shadow 1.y-axis,2.x-axis,3.for blur and 4.color of shadow whatyou want//
  }
 