$primary: red;
$secondary: green;
$color1: yellow;
$color2:white;
$color3: gray;
$padings: 10px 20px;
$margin:10px auto;
$fontfamilymain:  "Times New Roman', Times, serif";
$fontfamilysecond:"'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif";
$fontsize: 24px;
$fontweight: 800;
$colors: blue;
$widths:5px;